ul{
  li{
    list-style-type: none;
    span{
      display: block;
    }
  }
}
.locations-list{
  li{
    width: 200px;
    position: relative;
    .delete{
      cursor: pointer;
      position: absolute;
      right: -30px;
      top: 10px;
    }
  }
}