ul{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
    span{
      display: block;
    }
  }
}
li{
  width: 350px;
  position: relative;
  .delete{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 10px;
  }
}
.error{
  color: #cc2222;
}